<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>ログイン</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
		<h1>お客様情報登録</h1>
		<form action="/account" method="post">
		<table border="1">
			<tr>
				<th>名前</th>
				<td><input type="text" name="name" placeholder="お名前"></td>
			</tr>
			<tr>
				<th>パスワード</th>
				<td><input type="text" name="password" placeholder="パスワード"></td>
			</tr>
		</table>
		<p th:text="${message}" style="color: red"></p> 
		<p th:text="${passmessage}" style="color: red"></p>
		<p th:text="${rankmessage}" style="color: red"></p>
		<input type="checkbox" name="rank" checked>　￥500 プレミア会員になる<br>
		
			<button>登録</button>
			
			<br>
			<br>
			<br>
			<br><a href="/login">ログイン画面に戻る</a>
		</form>
</body>

</html>