<style>
			.nijiu{
				position: relative;
			}
			.nijiu::before,
			.nijiu::after {
				position: absolute;
				content: "";
				display: block;
				transform: rotate(0);
				background-color: red;
				width: 100%;
				height: 1px;
				left: 0;
			}
			.nijiu::before {
				top: 55%;
			}
			.nijiu::after {
				top: 42%;
			}
		</style>
<table border="1">
	<tr>
		<th>NO</th>
		<th>商品名</th>
		<th>値段</th>
		<th>個数</th>
		<th>小計</th>
		<th></th>
	</tr>
	<tr th:each="drink:${@cart.drinkList}">
		<td th:text="${drink.drinkId}"></td>
		<td th:text="${drink.drinkName}"></td>
		<td th:text="${drink.price}"></td>
		<td th:text="${drink.quantity}"></td>
		<td th:text="${drink.price*drink.quantity}"></td>
		<td>
			<form action="/cartpremiere/delete" method="post">
				<input type="hidden" name="drinkId" th:value="${drink.drinkId}">
				<button>削除</button>
			</form>
		</td>
	</tr>

	<th:block th:if="${@account.name}">
		<tr>
			<td align="right" colspan="5"  ><span class="nijiu">総計： [[${@cart.totalPrice}]]</span></td> 
		<td></td></tr>
		<tr>
			<td align="right" colspan="5" th:text="'プレミア会員価格 : ' + ${@cart.premierePrice}"></td>
		<td></td></tr>
	</th:block>
	<th:block th:unless="${@account.name}">
		<tr>
			<td align="right" colspan="5" th:text="'総計：' + ${@cart.totalPrice}"> </td>
		<td></td></tr>
	</th:block>

	


</table>