<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<style>
		.form {
			width: 240px;
			height: 20px;
			font-size: 14px;
		}
	</style>
</head>

<body>
	<h1>ログイン画面</h1>

	<form action="/login" method="post">

		<input type="text" name="name" placeholder="名前" class="form"><br>
		<p th:text="${message}" style="color: red"></p>

		<input type="text" name="password" placeholder="パスワード" class="form"><br>
		<p th:text="${passmessage}" style="color: red"></p>

		<p th:text="${premiereerror}" style="color: red"></p>
		<button>ログイン</button><br><br>
		<br><a href="/account">新規会員登録はこちら</a><br>
		<br><a href="/drink">ゲストユーザーでの買い物はこちら</a>
	</form>
</body>

</html>