<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="stylesheet" th:if="${@account.name}" type="text/css" href="/css/premiere.css">

	<link rel="stylesheet" th:unless="${@account.name}" type="text/css" href="/css/guest.css">

</head>

<body>
	<header th:replace="header"></header>
	<h1>注文商品</h1>
	<div th:replace="CartDrink"></div>

	<form action="/order" method="post">

		<h2>お客様情報</h2>
		<table border="1">
			<tr>
				<th>名前</th>
				<td><input type="text" name="userName" th:value="${@account.name}"></td>
			</tr>
			<th>メールアドレス</th>
			<td><input type="text" name="email"></td>
			</tr>
			<th>住所</th>
			<td><input type="text" name="address"></td>
			</tr>
			<!--			</tr>-->
			<!--			<tr th:each="login:${@login.loginList}">-->
			<!--				<td th:text="${login.userName}"></td>-->
			<!--				<td th:text="${login.email}"></td>-->
			<!--				<td th:text="${login.address}"></td>-->
			</tr>
		</table>
		<p th:text="${message}" style="color: red"></p>
		<p th:text="${mailmessage}" style="color: red"></p>
		<p th:text="${addmessage}" style="color: red"></p>
		<div style="display: flex;">
			<button formaction="/cart">戻る</button>
			<button>注文確定</button>
		</div>
	</form>

	<!--	<footer th:replace="footer"></footer>-->

</body>

</html>